@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  
}

body {
  background-color: var(--background-secondary);
  color: var(--subtitle);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, select, button {
  font: 400 1rem 'Montserrat', sans-serif;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0px;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

:root {
  --background-primary: #0f172a;
  --background-secondary: #cbd5e1;
  --background-light-box: rgba(26, 32, 44, .4);
  --title: #ffffff;
  --subtitle: #64748b;
  /* Slate */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}
